version: '3.4'

services:
  db:
    image: mysql:8.0
    command: --lower_case_table_names=0 --default-authentication-plugin=mysql_native_password --log-bin-trust-function-creators=ON
    environment:
      - MYSQL_DATABASE=footballmanager
      - MYSQL_ROOT_PASSWORD=rootPasswordDocuTools
      - MYSQL_PASSWORD=sCNPx034IyvC
      - MYSQL_USER=docutools
    volumes:
      - ./docker/db:/var/lib/mysql:rw
    ports:
      - "3306:3306"
  #  db:
  #    image: postgres:10-alpine
  #    environment:
  #      - POSTGRES_DB=footballmanager
  #      - POSTGRES_PASSWORD=rootPasswordDocuTools
  #      - POSTGRES_USER=docutools
  #    volumes:
  #      - db-data:/var/lib/postgresql/data:rw
  #      # you may use a bind-mounted host directory instead, so that it is harder to accidentally remove the volume and lose all your data!
  #      # - ./docker/db/data:/var/lib/postgresql/data:rw
  #    ports:
  #      - target: 5432
  #        published: 5432
  #        protocol: tcp

volumes:
  db-data: {}
  db-data-mysql: {}
